* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.new-item * {
  padding: 10px;
}

.new-item img {
  width: 50%;
}