

.product-list {
  padding: 15px;
}

.product-item {
  width: 23%;
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
}


.text-black {
  color: #000;
}

.product-item:hover {
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  position: relative;
  top: -1px;
}

.product-title {
  font-weight: 400;
  font-size: 30px;
}

.product-price {
  font-weight: 400;
  font-size: 25px;
}

.product-old-price {
  font-weight: 400;
  font-size: 24px;
  text-decoration: line-through;
  margin: 0px 5px;
}

.add-cart {
  padding: 5px;
  background-color: rgb(200, 200, 200);
}

.add-cart i {
  font-size: 1.25rem;
}

