* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.signup-form {
  max-width: 600px;
  margin: 50px auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 15px;
  border-radius: 5px;
}

h1 {
  text-align: center;
  text-transform: capitalize;
}

.signup-form form .form-group{
  margin: 10px;
}

.form-group input{
  padding: 5px 7px;
  width: 100%;
}

.form-group button {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10px 0px;
  font-size: 20px;
  width: 100%;
}

.form-group button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}